.circle {
    height: 60%;
    width: 60%;
    background-color: #f5c26d;
    border-radius: 50%;
    position: absolute;
    z-index: -100;
    left: -20%;
    overflow: hidden;
}
.oval {
    height: 50%;
    width: 50%;
    right: 0%;
    bottom: -10%;
    z-index: -100;
    background-color: #f5c26d;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
}
.image_2{
    position: absolute;
    right: 0px;
    z-index: -10;
    top: 0px;
    width: 30%;
}
.lalit{
    color: rgb(227, 27, 109);
}
.vmw{
    color: white;
    background-color: transparent;
    padding: 10px;
    font-size: 24px;
    border: 2px solid white;
    border-color: white;
    text-decoration: none;
}
.vmw:hover{
    background-color: rgb(4, 194, 200);
    border-color: rgb(4, 194, 200);
    transition: all 0.5s;
    color: white;
    text-decoration: none;
}
.vmwdiv{
    flex-direction: initial;
    margin-top: 20px;
    justify-content: center;
}
.frontdiv{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    background-color: none;
}
.main1
{
    width: 100%;
    /* border: 4px solid yellow; */
    width: 100%;
    /* height: 100vh; */
    background-color: rgb(37, 41, 52);
}
.myVideo {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}

@media only screen and (max-width: 768px){
    .direction {
        /* flex-direction: column-reverse; */
    }
    .image_1, .image_2{
        display: none;
    }
    .text{
        margin-top: 10%;
    }
}
@media only screen and (min-width: 768px){
    .direction {
        flex-direction: row;
    }
    .image_2{
        display: none;
    }
    .image_1{
        width: 90%;
        clip-path: ellipse(31% 44% at 61% 44%)
    }
}