.topAnimation{
    height: max-content;
    position: sticky;
    top: 0px;
}
@keyframes slow {
    from {opacity: 0;}
    to {opacity: 1}
}
.navAnimation_1{
    justify-content: right!important;
}
.navAnimation_2{
    position: absolute;
    top: 56px;
    left: 0px;
    width: 100%;
    animation: slow 1s linear!important;
    opacity: 1;
    box-shadow: none!important;
}
.navAnimation > button{
    margin: 3px;
    display: block!important;
    box-shadow: none!important;
}
.navAnimation > button:focus{
    box-shadow: none!important;
}
.navAnimation > button:hover{
    color: rgb(163, 163, 163);
}